# Ignora tutto dentro wp-content
wp-content/*

# Ma tieni solo i tuoi plugin e il tuo tema custom
!wp-content/plugins/
!wp-content/plugins/*/
!wp-content/plugins/*/src/
!wp-content/plugins/*/assets/
!wp-content/plugins/*/*.php
wp-content/plugins/*/vendor/
!wp-content/plugins/*/node_modules/

# Tema custom incluso tutto
!wp-content/themes/
!wp-content/themes/my_structure/**

# Includi anche i compilati Vite (es. manifest.json, build JS/CSS)
!wp-content/themes/my_structure/public/
!wp-content/themes/my_structure/public/.vite/
!wp-content/themes/my_structure/public/.vite/manifest.json
!wp-content/themes/my_structure/public/build/
!wp-content/themes/my_structure/public/build/**
wp-content/plugins/wp-mail-smtp/

# Cache, backup e roba inutile
wp-content/cache/
wp-content/uploads/
wp-content/debug.log
*.log
*.zip
*.sql
node_modules/
vendor/
.DS_Store
